:root {
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-gray2: hsl(263, 10%, 61%);
  --light-gray3: hsl(264, 8%, 75%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --font-size-1: 13px;
  --font-size-2: 16px;
  --font-size-3: 20px;
}

* {
  font-family: "Barlow Semi Condensed";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--light-grayish-blue);
}

.container {
  margin: 50px;
  width: 1120px;
  display: grid;
  height: auto;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "card-1 card-1 card-2 card-3"
    "card-4 card-5 card-5 card-3";
}

.card {
  background-color: white;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  z-index: -2;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.card-1 {
  background-color: var(--moderate-violet);
  grid-area: card-1;
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  position: relative;
  background-position: right 13% top ;
}

.card-2 {
  background-color: var(--very-dark-grayish-blue);
  grid-area: card-2;

}

.card-3 {
  background-color: var(--white);
  grid-area: card-3;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.066);
}

.card-4 {
  background-color: var(--white);
  grid-area: card-4;
  box-shadow: 0px 20px 80px rgba(0, 0, 0, 0.066);
}

.card-5 {
  background-color: var(--very-dark-blackish-blue);
  grid-area: card-5;
}

.profile-card {
  display: flex;
  align-items: center;
  gap: 24px;
}

.profile-card .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-1 .profile-card .profile-image {
  border: 3px solid var(--light-gray2);
}

.card-5 .profile-card .profile-image {
  border: 3px solid var(--moderate-violet);
}
.profile-card .user-contents .user-name {
  font-size: var(--font-size-2);
  font-weight: 600;
}

.profile-card .user-contents .user-notification {
  font-size: var(--font-size-1);
  font-weight: 500;
}

.title-card {
  font-size: var(--font-size-3);
  font-weight: 600;
}
.description-card {
  font-size: var(--font-size-1);
  font-weight: 500;
}

.dark-card .user-name,
.dark-card .title-card {
  color: var(--white);
}

.dark-card .user-notification,
.dark-card .description-card {
  color: var(--light-gray);
}

.light-card .user-name,
.light-card .title-card {
  color: var(--very-dark-grayish-blue);
}

.light-card .user-notification,
.light-card .description-card {
  color: var(--light-gray2);
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 90%;
    grid-template-areas:
      "card-4 card-4 card-2"
      "card-1 card-1 card-3"
      "card-5 card-5 card-3";
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    max-width: 90%;
    grid-template-areas:
      "card-1 card-1"
      "card-2 card-3"
      "card-4 card-3"
      "card-5 card-5";
  }
}

@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    max-width: 90%;
    grid-template-areas:
      "card-1"
      "card-2"
      "card-4"
      "card-5"
      "card-3";
  }
}
